

.Photo{
    width: 70vw;
    height: calc((1080/1920)*70vw);
    
    background-image: url(../images/waldo_beach.jfif);
    background-size: cover;
    position: relative;
}
.wally{
    --left:0px;
    --top:0px;
    --width:0px;
    --height:0px;
    background-color: rgb(219, 35, 35,0.3);
    position: absolute;
    left: var(--left);
    top: var(--top);
    width: var(--width);
    height: var(--height);
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
